@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/colors.scss';
@import '../../styles.scss';

header {
    height: 100%;
    width: 100%;
    @include display(center, space-between, row);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);

    >* {
        margin: 0 32px;
    }
}

.rightSideContainer {
    display: flex;
    align-items: center;
    gap: 12px;

    >.user {
        width: 56px;
        height: 56px;
        border-radius: 100%;
        border: 3px solid $black;

        &:hover {
            cursor: pointer;
        }
    }
}

.helpImage {
    width: 32px;
    height: 32px;
    margin: 6px;

    &:hover {
        width: 40px;
        height: 40px;
        margin: 0;
    }
}

h5 {
    font-size: 1.2em;
    font-family: $montserrat;
}