<nav>
    <img src="../../assets/img/logo_white.svg" alt="join logo">

    <div>
        <a href="#test" class="summaryLink" (click)="setActive('summary')" [class.active]="activeLink === 'summary'">
            <img src="../../assets/img/summary.svg" alt="">
            <span>Summary</span>
        </a>
        <a href="#test" class="addTaskLink" (click)="setActive('addTask')" [class.active]="activeLink === 'addTask'">
            <img src="../../assets/img/addtask.svg" alt="">
            <span>Add Task</span>
        </a>
        <a href="#test" class="boardLink" (click)="setActive('board')" [class.active]="activeLink === 'board'">
            <img src="../../assets/img/board.svg" alt="">
            <span>Board</span>
        </a>
        <a href="#test" class="contactsLink" (click)="setActive('contacts')" [class.active]="activeLink === 'contacts'">
            <img src="../../assets/img/contacts.svg" alt="">
            <span>Contacts</span>
        </a>
    </div>

    <div class="bottomContent">
        <a href="">Privacy Policy</a>
        <a href="">Legal notice</a>
    </div>
</nav>
