$black: #000000;

$white: #FFFFFF;

$red: #FF001F;

$blue_1: #091931;
$blue_2: #2A3647;
$blue_3: #405269; /* hovered */
$blue_4: #29ABE2; /* extra_links_hovered */
$blue_5: #42526E;
$blue_6: #0038FF;
$blue_7: #4589FF;

$turquoise_1: #1FD7C1;

$grey_1: #A8A8A8; /* extra_links */
$grey_2: #D1D1D1; /* form_border */
$grey_3: #CDCDCD; /* text */
$grey_4: #E7E7E7;
$grey_5: #F4F4F4;

$lime_1: #7AE229;

$orange_1: #FF3D00;

